.venv/
venv/
__pycache__/
*.pyc

dataset/
master_dataset/
Realworld_test_image/
Realworld_test_image_converted/
realworld_errors_v5/

*.h5
*.weights.h5

baseline_v2_model.keras
best_e_waste_model.keras
best_e_waste_model_v4.keras
v3_checkpoint_model.keras

tflite_export_tmp/

test_*.jpeg
test_*.jpg
test_*.png

confusion_matrix*.png
dataset_audit_report.csv

.git/